Repository pixel-point/bytebase-typescript-next: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,html,css}": "prettier --write",
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix"
}

fix: grid layout
  src/components/pages/home/features/features.tsx
Due: prettier --write, eslint --cache --fix

feat: remove prefetch for header menus
  src/components/shared/header/header.tsx
  src/components/shared/link/link.tsx
  src/components/shared/mobile-menu/mobile-menu.tsx
Due: prettier --write, eslint --cache --fix

chore: formatter
  public/manifest.json
Due: none

feat: add new links in router and menus
  src/lib/menus.js
  src/lib/route.ts
Due: prettier --write, eslint --cache --fix

fix: rocket animation postition
  src/components/shared/subscription/subscription.tsx
Due: prettier --write, eslint --cache --fix

feat: add redirects
  next.config.js
  src/lib/generate-redirects.js
Due: prettier --write, eslint --cache --fix

chore: prepare for the client review
  package.json
Due: none

refactor: blank, solve console log prefetch true
  src/components/shared/footer/footer.tsx
  src/components/shared/header/header.tsx
  src/components/shared/mobile-menu/mobile-menu.tsx
Due: prettier --write, eslint --cache --fix

feat: add more tutorials
  content/docs/tutorials/overview.md
Due: none

refactor: statement, solution link
  src/components/shared/header/header.tsx
  src/components/shared/mobile-menu/mobile-menu.tsx
  src/lib/menus.js
Due: prettier --write, eslint --cache --fix

feat: add todo to switch redirects to rewrites
  next.config.js
Due: prettier --write, eslint --cache --fix

feat: hide post with tutorial tag
  src/lib/api-blog.ts
Due: prettier --write, eslint --cache --fix

feat: add changelog page structure, layout, hero
  src/app/changelog/[page]/page.tsx
  src/app/changelog/layout.tsx
  src/app/changelog/page.tsx
  src/components/pages/changelog/hero/hero.tsx
  src/components/pages/changelog/hero/index.ts
Due: prettier --write, eslint --cache --fix

feat: add missing post
  content/blog/database-change-management-with-github-using-bytebase-cloud.md
  content/blog/github-database-cicd-part-1-sql-review-github-actions.md
  content/docs/tutorials/overview.md
  public/blog/database-change-management-with-github-using-bytebase-cloud/bb-dbdemo-diff.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/bb-home.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/bb-issue-github-create-t2-done.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/bb-login.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/bb-project-gitops-github-list.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/bb-project-push-event.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/bb-settings-gitops-1-github.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/bb-settings-gitops-2.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/bb-settings-gitops-3.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/feature-image.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/github-LATEST.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/github-auth.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/github-clientid-secret.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/github-dropdown.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/github-oauth-apps.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/github-register-oauth.webp
  public/blog/database-change-management-with-github-using-bytebase-cloud/vscode.webp
Due: none

fix: add url for category tutorial
  src/components/pages/blog/blog-post-hero/blog-post-hero.tsx
Due: prettier --write, eslint --cache --fix

feat: add api changelog, separate time to read
  src/lib/api-blog.ts
  src/lib/api-changelog.ts
  src/lib/content-folder.ts
  src/types/changelog-post.ts
  src/utils/get-time-to-read.ts
Due: prettier --write, eslint --cache --fix

fix: adjust styles of hero section
  src/components/pages/docs/mobile-sidebar/mobile-sidebar.tsx
  src/components/pages/home/db-scheme/db-scheme.tsx
  src/components/pages/home/hero/hero.tsx
  src/components/pages/home/promo-automation-changes/promo-automation-changes.tsx
  src/components/pages/home/promo-security/promo-security.tsx
  src/components/pages/home/promo-sql-editor/promo-sql-editor.tsx
  src/components/shared/community/community.tsx
  src/components/shared/subscription/subscription.tsx
Due: prettier --write, eslint --cache --fix

fix: hero card size
  src/components/pages/home/hero/card/card.tsx
Due: prettier --write, eslint --cache --fix

fix: add sql editor screens for retina
  public/images/page/main/sql-editor/interface-anonymize.jpg
  public/images/page/main/sql-editor/interface-database.jpg
  public/images/page/main/sql-editor/interface-explore.jpg
  public/images/page/main/sql-editor/interface-run.jpg
Due: none

refactor: move pagination to shared
  src/components/pages/blog/posts/posts.tsx
  src/components/shared/pagination/index.ts
  src/components/shared/pagination/pagination.tsx
Due: prettier --write, eslint --cache --fix

fix: remove benefits gradient bg
  src/components/pages/home/benefits/benefits.tsx
Due: prettier --write, eslint --cache --fix

refactor: minor fixes
  content/changelog/bytebase-1-12-0.md
  src/lib/seo-data.ts
Due: prettier --write, eslint --cache --fix

feat: add changelog posts and pagination
  src/app/changelog/[page]/page.tsx
  src/app/changelog/page.tsx
  src/components/pages/changelog/posts/index.ts
  src/components/pages/changelog/posts/posts.tsx
Due: prettier --write, eslint --cache --fix

fix: replace broken ufo animation
  public/rive/ufo.riv
Due: none

fix: ufo animation position
  src/components/pages/home/promo-sql-editor/promo-sql-editor.tsx
Due: prettier --write, eslint --cache --fix

fix: hovers for social blocks
  src/components/shared/community/cards/cards.tsx
Due: prettier --write, eslint --cache --fix

fix: underline link hover design
  src/components/shared/link-underlined/link-underlined.tsx
Due: prettier --write, eslint --cache --fix

fix: rotate position
  src/components/pages/home/hero/hero.tsx
Due: prettier --write, eslint --cache --fix

fix: join us button design
  src/components/pages/about/crew/crew.tsx
Due: prettier --write, eslint --cache --fix

chore: remove redundant file
  public/images/page/about/db-scheme.webp
Due: none

feat: update margin for subscription
  src/app/changelog/layout.tsx
  src/app/docs/[...slug]/layout.tsx
  src/components/shared/subscription/subscription.tsx
Due: prettier --write, eslint --cache --fix

feat: remove less than minute state
  src/utils/get-time-to-read.ts
Due: prettier --write, eslint --cache --fix

feat: update styles for h2 in content
  src/styles/typography.css
Due: prettier --write

feat: add seo data for changelog root
  src/app/changelog/page.tsx
Due: prettier --write, eslint --cache --fix

feat: responsive fixes for changelog
  src/app/changelog/[page]/page.tsx
  src/components/pages/changelog/hero/hero.tsx
  src/components/pages/changelog/posts/posts.tsx
  src/components/shared/pagination/pagination.tsx
Due: prettier --write, eslint --cache --fix

feat: add word breaks to link
  src/styles/typography.css
Due: prettier --write

feat: sticky for changelog data
  src/components/pages/changelog/posts/posts.tsx
Due: prettier --write, eslint --cache --fix

refactor: pagination import path
  src/components/pages/changelog/posts/posts.tsx
Due: prettier --write, eslint --cache --fix
