Repository pixel-point/bytebase-typescript-next: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

chore: setup to-do
  src/components/pages/blog/aside/aside.tsx
  src/components/pages/blog/aside/author/author.tsx
Due: prettier --write, eslint --cache --fix

fix: tsc
  src/components/pages/pricing/table/data/pricing-plans.ts
Due: prettier --write, eslint --cache --fix

chore: fix MDX syntaxt
  content/docs/administration/secret.md
  content/docs/disaster-recovery/backup-retention-policy.md
  content/docs/disaster-recovery/point-in-time-recovery-for-mysql.md
Due: none

fix: build
  content/docs/batch-change/multi-tenant-change.md
Due: none

feat: replace bb version
  VERSION
  content/docs/get-started/install/build-from-source-code.md
  src/lib/api-blog.ts
  src/lib/api-docs.ts
Due: prettier --write, eslint --cache --fix

fix: include block in docs
  src/components/shared/content/include-block/include-block.tsx
Due: prettier --write, eslint --cache --fix

chore: setup to-do
  src/app/api/subscribe/route.ts
Due: prettier --write, eslint --cache --fix

feat: add not-found page
  src/app/layout.tsx
  src/app/not-found.tsx
Due: prettier --write, eslint --cache --fix

feat: mv api to app dir, process cwd to docs-api
  src/app/api/index-to-algolia/route.ts
  src/lib/api-docs.ts
Due: prettier --write, eslint --cache --fix

feat: separate getRecords, add headers checker
  .env.example
  src/app/api/index-to-algolia/route.ts
Due: prettier --write, eslint --cache --fix

fix: add more languages to code block
  src/components/shared/code-block/code-block.tsx
Due: prettier --write, eslint --cache --fix

fix: minor fix
  content/blog/global-variable-support-in-nuxt.md
Due: none

feat: cmdk colors, bg, outline, position
  src/styles/docsearch.css
Due: prettier --write

feat: fix scrolls
  src/components/pages/docs/algolia-search/algolia-search.tsx
  src/components/pages/docs/table-of-contents/table-of-contents.tsx
Due: prettier --write, eslint --cache --fix

chore: do not proxy /changelog
  src/lib/generate-redirects.js
Due: prettier --write, eslint --cache --fix

chore: change joinus link to mailto link
  src/components/pages/about/crew/crew.tsx
Due: prettier --write, eslint --cache --fix

chore: fix pricing
  src/components/pages/pricing/hero/hero.tsx
  src/components/pages/pricing/table/data/pricing-plans.ts
Due: prettier --write, eslint --cache --fix

fix: rewrites
  next.config.js
  src/lib/generate-redirects.js
  src/lib/menus.js
Due: prettier --write, eslint --cache --fix

chore: replace magic value to env var
  next.config.js
Due: prettier --write, eslint --cache --fix

fix: blog images quality
  src/components/shared/content/content.tsx
Due: prettier --write, eslint --cache --fix

fix: clipped heading
  src/components/pages/home/db-scheme/db-scheme.tsx
Due: prettier --write, eslint --cache --fix

fix: tutorial url
  next.config.js
  src/lib/route.ts
Due: prettier --write, eslint --cache --fix

fix: give back CLI, API and How To nav
  content/docs/_layout.md
Due: none

fix: revert env var usage
  next.config.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
